@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Roboto+Condensed&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background: url(Images/body-bg.png) center/cover no-repeat;
}

/* Header Start */

header {
    width: 98%;
    margin: auto;
    background-color: #8EB50B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.HeadItem {
    width: 20%;
    margin: auto;
    text-align: center;
}

.HeadItem img {
    width: 80%;
    margin: auto;
}

.HeadItem h3 {
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: 350;
    transition-duration: 1s;
    transition-property: color;
    padding: 20px;
}

.hi1 {
    background-color: #252525;
}

.hi4 {
    display: none;
}

.HeadItem :hover {
    color: #8EB50B;
    cursor: pointer;
    transition-duration: 1s;
    transition-property: color;
}

/* For table phone */
@media only screen and (max-width: 952px) {
    .HeadItem {
        width: 40%;
    }

    .HeadItem img {
        text-align: left;
        width: 100%;
    }

    .hi1 {
        display: none;
    }

    .hi4 {
        display: inline;
        text-align: right;
        font-size: 2.5em;
        padding-right: 15px;
    }
}

/* For mobile phone */
/* @media only screen and (max-width: 767px) {} */


/* Header End */


/* Nav Start */

#Navbar {
    width: 98%;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);
}

#Navbar nav {
    width: 60%;
    margin: auto;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.solNav {
    width: 75%;
    margin: auto;
    display: flex;
}

.sagNav {
    width: 20%;
    margin: auto;
    display: flex;
}

#Navbar ul {
    text-decoration: none;
}

#Navbar li {
    list-style: none;
}

#Navbar a {
    font-size: 1.2em;
    margin: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 1s;
}

#Navbar li:hover a {
    color: #8EB50B;
    transition-property: color;
    transition-duration: 1s;
}

/* For tablet phone */
@media only screen and (max-width: 952px) {
    #Navbar {
        display: none;
    }
}

/* Nav End */


/* Main Start */

main {
    width: 98%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 100px;
    padding-bottom: 50px;
}

.Main1 {
    width: 40%;
    margin: auto;
}

.Main1 h1 {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2.2em;
    font-weight: bolder;
    letter-spacing: 8px;
}

.Main1 h1>span {
    color: #8EB50B;
    background-color: white;
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: 900;
    letter-spacing: 4px;
}

.Main2 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.main21 {
    width: 25%;
    font-size: 2em;
    color: #252525;
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

.main22 {
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

input[type="search"] {
    width: 100%;
    margin: auto;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: #252525;
    padding: 15px;
    background: white;
    border-radius: inherit;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
}

.Main3 {
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 75px;
}

.Main3>a {
    width: 50%;
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    font-size: 2em;
    background-color: #8EB50B;
    border-radius: 10px;
    transition-duration: 1s;
    transition-property: color;
}

.Main4 {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 100px;
}

.Main3H {
    width: 80%;
    margin: auto;
}

.Main3H>h1 {
    margin-top: 100px;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2.2em;
    font-weight: bolder;
    letter-spacing: 8px;
}

.Main41 {
    width: 10%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.Main41>img {
    width: 50%;
    text-align: center;
    border: 2px solid white;
    padding: 10px 25px 30px 25px;
}

.Main41>h3 {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 20px;
}

.Main411 {
    margin-top: 15px;
}

.Main411>a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 2em;
    background-color: #8EB50B;
    border-radius: 10px;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.Main5 {
    width: 88%;
    margin: auto;
}

.Main5>h4 {
    margin-top: 100px;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-size: 3.2em;
    font-weight: bolder;
    letter-spacing: 8px;
}

.Main6 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.Main61 {
    width: 45%;
    margin: auto;
}

.Main61>img {
    width: 90%;
}

.Main62 {
    width: 40%;
    margin: auto;
}

.Main62>h4 {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-size: 2.5em;
    font-weight: bolder;
    letter-spacing: 4px;
}

.Main62>p {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bolder;
    letter-spacing: 2px;
}

.Main621 {
    margin-top: 50px;
}

.Main621>a {
    width: 50%;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 2em;
    background-color: #8EB50B;
    padding: 15px;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.Main621 :hover {
    background-color: #FD9700;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.Main411 :hover {
    background-color: #FD9700;
    transition-duration: 1s;
    transition-property: color, background-color;
}

.Main3 :hover {
    background-color: white;
    color: #252525;

}


/* For table phone */
@media only screen and (max-width: 952px) {
    .Main1 {
        width: 50%;
    }

    .Main1 h1 {
        font-size: 2em;
        letter-spacing: 5px;
    }

    .Main41 {
        width: 25%;
        margin: auto;
    }

    .main21 {
        font-size: 1em;
    }

    input[type="search"] {
        font-size: 1em;
    }

    .Main411>a {
        font-size: 1em;
    }

    .Main41>img {
        margin-top: 25px;
    }

    .Main6 {
        margin-top: 100px;
    }

    .Main61>img {
        width: 105%;
    }

    .Main62>h4 {
        font-size: 2em;
    }

    .Main62>p {
        font-size: 0.8em;
    }

    .Main621>a {
        font-size: 1.9em;
    }
}


/* For mobile phone */
@media only screen and (max-width: 767px) {
    .Main1 h1 {
        font-size: 0.8em;
        letter-spacing: 2px;
    }

    input[type="search"] {
        font-size: 0.8em;
    }

    .main21 {
        display: none;
    }

    .Main4{
        margin-top: 30px;
        padding-bottom: 50px;
    }

    .Main3>a {
        font-size: 1em;
    }

    .Main41 {
        width: 65%;
        margin: auto;
        margin-top: 25px;
    }

    .Main6 {
        display: inline-block;
        width: 98%;
        margin-top: 50px;
    }

    .Main61 {
        width: 90%;
    }

    .Main62 {
        width: 90%;
    }

    .Main62>h4 {
        margin-top: 15px;
    }

    .Main621>a {
        font-size: 1em;
    }
}

/* Main End */



/* Section Start  */

#AppSection {
    width: 98%;
    margin: auto;
    background-color: #8EB50B;
    padding-top: 50px;
    display: flex;
    padding-bottom: 40px;
}

#AppSection .app1 {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    text-align: left;
}

.app1 h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app1 span {
    color: black;
}

.app1 .app11 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.app11 .app12 {
    text-align: left;
    width: 50%;
    margin: auto;
}

.app1>p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
}

.app121 {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.app121 :hover {
    background-color: #FD9700;
    transition-duration: 1s;
    transition-property: color, background-color;
    color: white;
}

.app121>a {
    color: #252525;
    background-color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.5em;
    transition-duration: 1s;
    transition-property: color, background-color;
}

#AppSection .app2 {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    text-align: left;
}


/* For table phone */
@media only screen and (max-width: 952px) {
    .app12>img {
        width: 80%;
    }

    .app121>a {
        font-size: 1em;
    }
}

/* For mobile phone */
@media only screen and (max-width: 767px) {
    #AppSection {
        display: inline-block;
        margin-left: 1%;
    }

    #AppSection .app2 {
        margin-top: 100px;
        width: 70%;
        text-align: left;
    }

    #AppSection .app1 {
        width: 80%;
    }
}


/* Section End  */


/* Customer Start */

#Customer {
    width: 98%;
    margin: auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 50px;
}

#Customer .C-1 {
    width: 60%;
    margin: auto;
}

.C-1 h3 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

#Customer .c2 {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.c2 .customer21 {
    width: 25%;
    margin: auto;
}

.customer21>h4 {
    color: #8EB50B;
    font-size: 2em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.customer21>p {
    margin-top: 20px;
    color: white;
    font-size: 1.4em;
    font-weight: 300;
    border: 1px solid white;
    padding: 15px;
}

#Customer .c3 {
    width: 20%;
    margin: auto;
    margin-top: 100px;
}

.c3 ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.c3 ul li {
    text-align: center;
}

.c3 a {
    list-style: none;
    text-decoration: none;
    padding: 15px;
    font-size: 1.8em;
    background-color: white;
    color: #252525;
}

.c3 li:hover a {
    background-color: #8EB50B;
    color: white;
}


.GetInTouch {
    width: 75%;
    margin: auto;
    background: url(Images/contact-bg.png) center/cover no-repeat;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.GetInTouch>h3 {
    color: white;
    font-size: 2.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
}

.GetInTouch .entry {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.entry input {
    font-size: 1em;
    width: 90%;
    margin: auto;
    color: #252525;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    padding: 10px;
}


.entry textarea {
    width: 90%;
    margin: auto;
    color: #252525;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    padding: 10px;
    font-size: 1em;
    text-align: left;
}

.GetInTouch .SendMessage {
    width: 65%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.SendMessage>a {
    font-size: 2.1em;
    color: white;
    background-color: #8EB50B;
    padding: 15px 45px;
    text-decoration: none;
}


.GetInTouch .BestFood {
    width: 88%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.BestFood .bf-1 {
    width: 70%;
    margin: auto;
    text-align: center;
}


.BestFood .bf-2 {
    width: 30%;
    margin: auto;
    text-align: center;
}

.bf-1>h3 {
    color: black;
    font-size: 2.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.bf-2 a {
    text-decoration: none;
    font-size: 1.5em;
    background-color: #8EB50B;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
}

.bf-2 :hover {
    background-color: #FD9700;
}

.SendMessage :hover {
    background-color: #FD9700;
}


/* For table phone */
@media only screen and (max-width: 952px) {
    .GetInTouch .BestFood {
        width: 91%;
    }

    .GetInTouch .entry {
        width: 90%;
    }
}

/* For mobile phone */
@media only screen and (max-width: 767px) {
    #Customer .c2 {
        display: inline-block;
    }

    .c2 .customer21 {
        width: 80%;
        margin-bottom: 15px;
    }

    #Customer .c3 {
        width: 50%;
    }

    .GetInTouch .BestFood {
        display: inline-block;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .BestFood .bf-2 {
        width: 75%;
        margin-top: 50px;
    }

    .bf-1>h3 {
        font-size: 1.8em;
    }

    .BestFood .bf-1 {
        width: 90%;
    }

}

/* Customer End */



/* Navigation Start */

#Navigation {
    width: 98%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding-bottom: 25px;
    background: rgba(0, 0, 0, 0.8);
}

#Navigation .FullNavi {
    width: 35%;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#Navigation .FullNavi2 {
    width: 35%;
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Navigation .word {
    width: 25%;
    margin: auto;
}

#Navigation .n1 {
    width: 35%;
    margin: auto;
}

#Navigation .n12 {
    width: 18%;
    margin: auto;
}

.word>h3 {
    margin-top: 0px;
    color: white;
    font-size: 2.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.n1>h3 {
    margin-top: 0px;
    color: white;
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.word>p {
    color: white;
    font-size: 0.8em;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.n1>p {
    color: white;
    font-size: 1em;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.n12>h3 {
    margin-top: 0px;
    color: white;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.n12 ul {
    margin-top: 20px;
}

.n12 li {
    color: white;
    font-size: 1em;
    margin: 2px;
    padding: 0px;
}

.n12 li a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 0;
    margin: 0;
}

.n12 li :hover {
    color: #8EB50B;
}

.n1 p {
    margin-top: 5px;
    padding: 0;
    font-size: 0.8em;
}

.n1 h5 {
    color: #8EB50B;
    font-size: 1em;
    margin-top: 15px;
}

.n1 h5 span {
    transition-duration: 1s;
    transition-property: color;
    color: white;
}

.n1 p:hover {
    color: #8EB50B;
    cursor: pointer;
    transition-duration: 1s;
    transition-property: color;
}

.n1 ul {
    margin-top: 25px;
    text-decoration: none;
    list-style: none;
}

.n1 ul li {
    color: white;
    font-size: 1em;
    margin: 5px;
}

.n1 li:hover {
    color: #8EB50B;
    cursor: pointer;
}

.sosialNetwork {
    display: flex;
    justify-content: space-between;
}

.sosialNetwork li {
    font-size: 2em;
    background-color: white;
    padding: 5px;
}

.sosialNetwork li:hover {
    background-color: #8EB50B;
}

.sosialNetwork li i {
    color: #252525;
}

.sosialNetwork li:hover i {
    color: white;
}


/* For table phone */
@media only screen and (max-width: 952px) {
    #Navigation {
        display: inline-block;
        margin-left: 1%;
    }

    #Navigation .FullNavi {
        width: 90%;
        justify-content: space-around;
    }

    #Navigation .word {
        width: 25%;
    }

    #Navigation .n12 {
        width: 25%;
        margin-top: 0px;
    }

    #Navigation .FullNavi2 {
        width: 90%;
        justify-content: space-around;
    }

    #Navigation .n1 {
        width: 27%;
        margin-top: 35px;
    }
}


/* For mobile phone */
@media only screen and (max-width: 767px) {
    #Navigation .FullNavi {
        display: inline-block;
    }

    #Navigation .FullNavi2 {
        display: inline-block;
    }

    .word>p {
        font-size: 1.8em;
    }

    #Navigation .word {
        width: 90%;
        margin-top: 15px;
    }

    #Navigation .n12 {
        width: 90%;
        margin-top: 15px;
    }

    .n12 li {
        font-size: 1.5em;
    }

    .n12 ul {
        margin-left: 5px;
    }

    #Navigation .n1 {
        width: 90%;
        margin-top: 15px;
    }

    .bf-2 a {
        font-size: 1em;
    }

    .n1 h5 {
        font-size: 2em;
    }

    .n1 ul li {
        font-size: 1.5em;
    }
}

/* Navigation End */


/* Footer Start */

footer {
    width: 98%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8EB50B;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

footer:hover span {
    cursor: pointer;
    color: #252525;
}

/* Footer End */